.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 4%;
    /* Gap between cards */
    flex: 1 1 calc(33.333% - 20px);
    /* Kart genişliği, bir satırda 3 kart olacak şekilde ayarlandı */
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    /* Distribute cards evenly */
}

.card-filtre{
    width: 20%; /* Kartın ekran genişliğine göre ayarlanmasını sağlar */
    margin-top: 45px;
    padding: 4%; /* Kartın içindeki alan için dolgu */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Hafif bir gölge efekti */
    border-radius: 8px; /* Kartın kenarlarını yuvarlar */
    background-color: #fff; /* Arka plan rengi */
    border: 1px solid #FFEB3B; /* Sarı sınır */

}