.banner {
    display: flex;
    justify-content: center;
}

.content {
    text-align: left;
}

.banner-title {
    font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
    font-weight: bold;
}
.banner-image{
    width: 100%;
}